---
import Artalk from "@/components/util/Artalk.astro";
import BangumiComponent from "@/components/util/Bangumi.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---
<MainLayout title="番剧">
  <BangumiComponent />
  <div id="comment-section">
    <Artalk />
  </div>
</MainLayout>