<div class="flex w-full...">
  <div class="card-base...">
    <bilibili-bangumi 
      api="https://api.bgm.blueke.top/api"
    ></bilibili-bangumi>
  </div>
</div>

<script>
  import { defineCustomElements } from 'bilibili-bangumi-component/loader';
  defineCustomElements();
</script>
