<div class="flex w-full...">
  <div class="card-base...">
    <bilibili-bangumi 
      api="https://api.bgm.blueke.top/api"
    ></bilibili-bangumi>
  </div>
</div>

<script 
  type="module" 
  src="https://unpkg.com/@keduoli03/bilibili-bangumi-component@0.3.2/dist/bilibili-bangumi-component/bilibili-bangumi-component.esm.js"
></script>
